<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="https://js.zohostatic.com/creator/widgets/version/1.0/widgetsdk-min.js"></script>
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- Section 2 Document -->
    <section class="section-2-document">
        <div class = "container"></div> 
     </section>
     <!-- End Section 2 Document -->

     <div class="section-pagination">
    </div>
</body>
<script src="../../controller/client/favoriteDocument.controller.js"></script>
</html>